### Understanding the basic data types in Python such as lists, dictionaries, and sets.

#### List Operations

In [2]:
# Add elements to a python list
fruits= ['Apple','Orange','Mango']
print('Original List = ',fruits)


fruits.append('Banana')
print('Updated List = ',fruits)

Original List =  ['Apple', 'Orange', 'Mango']
Updated List =  ['Apple', 'Orange', 'Mango', 'Banana']

In [3]:
# Removing an item from the list
fruits.remove('Orange')
print('Updated List = ',fruits)

Updated List =  ['Apple', 'Mango', 'Banana']

In [5]:
# Modifying an item from the list
fruits[1] ='Cherry'
print('Updated List = ',fruits)

Updated List =  ['Apple', 'Cherry', 'Banana']

#### Dictionary Operations

In [6]:
# Add elements to a python dictionary
country_capitals = {"Germany": "Berlin", "Canada": "Ottawa", "England": "London"}
print('Country Capitals = ',country_capitals)

country_capitals["Italy"]="Rome"
print('Updated Country Capitals = ',country_capitals)

Country Capitals =  {'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}
Updated Country Capitals =  {'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London', 'Italy': 'Rome'}

In [8]:
# Removing an item from the dictionary
del country_capitals["Germany"]
print('Updated Country Capitals = ',country_capitals)

Updated Country Capitals =  {'Canada': 'Ottawa', 'England': 'London', 'Italy': 'Rome'}

In [9]:
# Modifying an item from the dictionary
country_capitals.update({"Italy": "City of Seven Hills"})
print('Updated Country Capitals = ',country_capitals)

Updated Country Capitals =  {'Canada': 'Ottawa', 'England': 'London', 'Italy': 'City of Seven Hills'}

#### Set Operations

In [3]:
# Add elements to a python sets
numbers ={5, 10, 15, 20, 25}
print('Initials set = ',numbers)

numbers.add(30)
print('Updated set = ',numbers)

Initials set =  {20, 5, 25, 10, 15}
Updated set =  {20, 5, 25, 10, 30, 15}

In [4]:
# Removing an item from the set
numbers.remove(15)
print('Updated set = ',numbers)

Updated set =  {20, 5, 25, 10, 30}

In [5]:
# Modifying an item from the set
numbers.add(35)
numbers.discard(5)
print('Updated set = ',numbers)

Updated set =  {35, 20, 25, 10, 30}